<mat-toolbar class="bg-primary">
    <button class="m-2" [routerLink]="['/home']" routerLinkActive="router-link-active" class="bg-primary">
        <span>altShop</span>
    </button>

    <button class="m-2">
        <a nz-dropdown [nzDropdownMenu]="clothesMenu">
            шмотки
            <span nz-icon nzType="down"></span>
        </a>
        <nz-dropdown-menu #clothesMenu="nzDropdownMenu">
            <ul nz-menu>
                <li nz-menu-item (click)="navigateUserToProducts('')" class="font-extrabold">Всі шмотки</li>
                <li nz-menu-divider ></li>
                <li nz-menu-item (click)="navigateUserToProducts('zipka')">зіпки</li>
                <li nz-menu-item (click)="navigateUserToProducts('hoodie')">худі</li>
                <li nz-menu-item (click)="navigateUserToProducts('pants')">штани</li>
            </ul>
        </nz-dropdown-menu>
    </button>
    
    <span class="header-spacer"></span>

    <button
    mat-icon-button class="m-2"
    *ngIf="renderCartButton"
    >
        <mat-icon
        nz-dropdown nzTrigger="click" [nzDropdownMenu]="cartMenu"
        >shopping_cart</mat-icon>

        <nz-dropdown-menu #cartMenu="nzDropdownMenu">
            <ul nz-menu>
                <li
                nz-menu-item
                *ngIf="cartItems.length != []"
                class="p-0"
                >
                    <ul nz-menu>
                        <li
                        nz-menu-item 
                        *ngFor="let item of cartItems">
                            {{item.name}}
                        </li>
                    </ul>
                </li>
                <li *ngIf="cartItems.length != []" nz-menu-divider></li>

                <li
                *ngIf="cartItems.length != []"
                nz-menu-item
                [routerLink]="['/cart']"
                class="m-1"
                >
                    оплатити
                </li>
                <li
                *ngIf="cartItems.length == []"
                nz-menu-item
                class="m-1 noselection"
                >
                    схоже ви ще не додали нічого в корзину
                </li>
                <li
                *ngIf="cartItems.length == []"
                nz-menu-item
                class="m-1  flex"
                >
                    <button 
                    
                    class="bg-primary w-full"
                    [routerLink]="['/products']">подивитися шмотки</button>
                </li>
            </ul>
        </nz-dropdown-menu>
    </button>
    
    <button
    mat-icon-button class="m-2"
    (click)="toogleDebugOutline()">
        <mat-icon>person</mat-icon>
    </button>
</mat-toolbar>