<app-header></app-header>
<div *ngIf="product != []" class="wrapper">
    <div class="carousel">
        <nz-carousel [nzEffect]="effect">
            <div *ngFor="let source of product.images" nz-carousel-content>
                <img [src]="source" alt="зображення {{product.name}} таке типу" class="full-width-image"/>
            </div>

            <div *ngIf="!product.images || !product.images[0]" nz-carousel-content>
                <img [src]="product.image" alt="зображення {{product.name}} таке типу" class="full-width-image"/>
            </div>
        </nz-carousel>

    </div>

    <div class="info">
        <p>{{ product.name }}</p>
        <p>{{ product.price }} грн.</p>
        <p>{{ product.description }}</p>
        <button (click)="addToCart(product)">
            додати в кошик
        </button>
    </div>
</div>


<!-- проста відповідь якщо юзер попав на сторінку з продуктом, щодо якого API не може дати відповідь -->
<div
        *ngIf="product == []"
>
    <p>Схоже цього продукту не існує, чи виникла помилка на сервері</p>
</div>
