/* You can add global styles to this file, and also import other style files */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import 'normalize.css';

:root {
    --main-color: #ffdd00;
    --gray-color: #f3f3f3;
    --dark-gray-color: #333333;
}

.debug {
    outline: 1px solid red;
}

.debug1 {
    outline: 4px solid blue;
}

.debug2 {
    outline: 4px solid green;
}

.debug3 {
    outline: 4px solid pink;
}

.noselection {
    user-select: none;
}

body {
    background-color: #f1f7f7;

    font-family: "Podkova", serif;
    font-size: 1.08rem;
    font-weight: 600;
    font-style: normal;
}
