/* You can add global styles to this file, and also import other style files */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import 'normalize.css';

/* @import url('https://fonts.googleapis.com/css2?family=Podkova:wght@400..800&display=swap') */

.debug {
    outline: 1px solid red;
}

.debug1 {
    outline: 4px solid blue;
}

.debug2 {
    outline: 4px solid green;
}

.debug3 {
    outline: 4px solid pink;
}

.noselection {
    user-select: none;
}

/* body {
  
} */

body {
    background-color: #f1f7f7;
    /* font-family: input-sans, sans-serif;
    font-style: normal;
    font-weight: 600; */

    /* font-family: courier-prime, monospace;
    font-style: normal;
    font-weight: 600; */

    /* font-family: ibm-plex-mono, sans-serif;
    font-style: normal;
    font-weight: 600; */

    font-family: "Podkova", serif;
    font-size: 1.08rem;
    font-weight: 600;
    font-style: normal;
}
